html, body{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

body{
    background-color: darkblue;
}

div{
   display: flex; 
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   height: 100vh;
}

h2, p{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

h2{
    font-size: 5rem;
}

p{
    font-size: 3rem;
}